@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Bebas+Neue&family=Montaga&family=Montserrat:wght@400;700&family=Nothing+You+Could+Do&display=swap');
:root{
	--dim-gray: #7a7265ff;
	--sepia: #553805ff;
	--raw-umber: #8e6e53ff;
	--lion: #c69c72ff;
	--black-bean: #2d080aff;
}
p{
	margin-bottom: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	list-style: none;
}
a{
    text-decoration: none;
}
.body{
margin: 0;

}
.frase{
	font-family: Nothing You Could Do;
	font-size: 36px;
	color: #FFF;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 3px;
	margin-left: 60px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	text-align: left;
}

.reservarahoraboton{
	font-size: 18px;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,5);
	box-shadow: 2px 2px 10px rgba(0,0,0,5);
	color: black;
	background-color: white;
	margin-top: 30px;
	margin-left: 60px;
}
.reservarahoraboton:hover{
	background-color: rgba(119, 67, 3, 0.63);
}
.logo{
	text-align: center;
	font-family: Montaga;
	font-size: 32px;
	font-style: normal;
	line-height: normal;
}

.menucontainer{
	max-width: 1200px;
	margin: auto;
	background-color:black;

}
.collapse{
	justify-content: flex-end;
}

.navbar{
	background-color:black;
}


.imagenprincipal{
	background-image: linear-gradient(90deg, rgba(206,143,4,0.5) 7%, rgba(153,93,8,0.5) 79%, rgba(204,67,4,0.5) 100%)
	,url(../images/saloninicio.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	background-position: center center;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;
}
.hero{
	display: flex;
	flex-direction: column;
	text-align: left;
}
.ilusbienvenidostex{
	border-bottom: 1px solid var(--raw-umber);
	color: var(--raw-umber);
	display: block;
	line-height: 1.5;
	letter-spacing: normal;
	max-width: 450px;
	padding-bottom: 6px;
}
.postbienvenidos{
	display: flex;
	width: 100%;
	flex-direction: row;
	gap: 70px;
	text-align: left;
}
.textoimagenprincipal{
	color: white;
	font-family: ABeeZee;
	font-style: italic;
	letter-spacing: 4px;
	line-height: normal;
	margin-left: 60px;
	font-size: 64px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.textobienvenidos{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.hostilustex{
	font-size: 30px;
}
.textdesayuno{
	display: flex;
	align-items: center;
	padding: 30px;
	justify-content:center ;
	color: var(--black-bean);
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
}

.imagenilustracion{
	width: 400px;
	height: 100%;
	
}
.contenedorilustracion{
	background-color: white;
	overflow: visible;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	padding: 30px;
}


/* contenido de tarjetas inicio*/
.tarjetasexpand .grid-item{
	max-width: 800px;
}

.tarjetasexpand{
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
}

.tarjetasexpand .contendiotar{
	overflow: visible;
	padding-left: 8px;
	padding-right: 8px;
	max-width: 1300px;
	margin: 0 auto;
	position: relative;
}



.textexpancar{
	color: black;
	font-family: 'Bebas Neue', sans-serif;
	font-style: italic;
	font-size: 20px;
	margin-bottom: 0;
	text-shadow: 2px 2px 4px rgba(97, 77, 22, 0.5);
}


/*grid imagenes inicio*/
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 25px;
	max-width: 100%;
	padding: 10px;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	width: 100%;

}

.grid-item {
	position: relative;
	overflow: hidden;
	border: 1px solid var(--raw-umber);
	box-shadow: 2px 2px 10px rgba(0,0,0,5);
}

.grid-item img {
	display: block;
	width: 100%;
	height: 500px;
	object-fit: cover;
	left: 0;
	top: 0;
	object-position: center;
	
}
/*animacion grid*/ 
.tarjeta-index-expand{
	transition-property: all;
	transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	max-width: 800px;
	display: flex;
	opacity: 1;
	transform: translate(0);
	overflow: hidden;
	justify-content: flex-end;
	flex-direction: column;
	width: 100%;

}

.tarjeta-index-expand:hover{
	cursor: pointer;

}

.tarjeta-index-expand:hover .hover-animacion{
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.885);

	
}
.tarjeta-index-expand:hover .textexpancar{
	opacity: 1;
	visibility: visible;
}
.hover-animacion{
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.885);
	justify-content: center;
	flex-direction: column;
	position:absolute;
}

/*texto testimonios del carrusel*/
.testimonios{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #553805;
	font-family: ABeeZee;
	font-size: 60px;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
	padding: 15px;
}
/*carrusel inicio boostrap*/

.text-slide {
    text-align: center; /* Centra el texto horizontalmente */
    display: flex;
    justify-content: center; /* Centra el texto verticalmente */
    height: 100%; /* Asegura que el texto ocupe toda la altura del carrusel */
	color: #553805;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  }

  /* Estilos para centrar los botones */
  .custom-carousel-button {
    position: absolute;
    top: 50%;
    cursor: pointer;
	border: none;
	box-shadow: none;
	padding: 0;

  }

  .custom-carousel-button-prev {
    left: 20px;
	margin-left: 30%;
  }
  .custom-carousel-button-next {
    right: 20px;
	margin-right: 30%;
  }



  .svgboton{
	width: 40px;
	height: 50px;
  }
/*pie de pagina*/
.pie-pagina{
	margin-top: 10px;
	width: 100%;
	background-color: black;
}
.pie-pagina .grupo-1{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 50px;
	padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
	width: 250px;
}
.pie-pagina .grupo-1 .box h5 {
	color: white;
	margin-bottom: 25px;
	font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
	color: white;
	margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
	display: inline-block;
	text-decoration: none;
	width: 50px;
	height: 50px;
	line-height: 45px;
	color: white;
	margin-right: 15px;
	background-color: rgba(119, 67, 3, 0.63);
	text-align: center;
	transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
	color: beige;
}
.pie-pagina .grupo-2{
	background-color: black;
	padding: 15px 10px;
	text-align: center;
	color: white;
}
.pie-pagina .grupo-2 small{
	font-size: 15px;
}

/*servicios inicio*/
.imagenprincipalservicios{
	background-image: linear-gradient(90deg, rgba(206,143,4,0.5) 7%, rgba(153,93,8,0.5) 79%, rgba(204,67,4,0.5) 100%)
	,url(../images/foto\ sala.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	background-position: center center;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}


 
.textopage{
	display: flex;
	align-items: center;
	padding: 30px;
	justify-content:center ;
	color: #000;
	text-align: center;
	font-family: ABeeZee;
	font-size: 40px;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 3px;
}

.textoservicio{
	color: black;
	text-align: center;
}



/*galeria de servicios disponibles*/
.serviciosdisponibles{
	background-color: white;
	}
	
	.galeria-serviciosdisponibles{
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin-top: 30px;
	}
	
	.imagen-servicios{
		width: 26%;
		margin-bottom: 20px;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		box-shadow: 0 0 8px 0 rgba(0,0,0,5);
		height: 500px;
		border-radius: 30px;
	}
	
	.imagen-servicios > img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
	
	.hover-galeria{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		/*transform: scale(0);*/
		background: hsla(40, 100%, 25%, 0.7);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.hover-galeria p{
		color: white;
		font-family: Nothing You Could Do;
		font-size: 30px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	
	.imagen-servicios:hover .hover-galeria{
		transform: scale(0);
	}

	.tituloserv{
	color: rgba(119, 67, 3, 0.63);
	text-align: center;
	font-family: Montserrat;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: flex;
	align-items: center;
	padding: 30px;
	justify-content:center;
}

/*pagina habitaciones*/
.imagenprincipalhabitaciones{
	background-image: linear-gradient(90deg, rgba(206,143,4,0.5) 7%, rgba(153,93,8,0.5) 79%, rgba(204,67,4,0.5) 100%)
	,url(../images/habitacion\ 9\ lado\ perfil\ izquierdo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	background-position: center center;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;

}

/*carrusel habitaciones*/
.contenedor-80 {
	width: 70%;
	margin: 0 auto;
	border:solid black 3px;
	border-radius: 40px;

}

.carruselcontenedorhabitaciones{
	margin-bottom: 30px;
}
.carousel-item{
	height: 500px;
	position: relative;
	overflow: hidden;
	border-radius: 36px;
}
.carousel-inner .carousel-item img {
	width: 100%;
	height: 100%; /* Establece la altura deseada para todas las imágenes */
	object-fit: cover; /* Escala la imagen para que cubra completamente su contenedor */
	display: block;

}
.tipohabitaciontexto{
	background-color: black;
	color: white;
	border: none;
}
.cont-precio-detallehabitacion{
	display: flex;
	align-items: center;
	padding: 20px;
	justify-content: space-between;
}

.tipohabitaciontexto{
	text-align: center;
	font-size: 25px;
}
.botondetallehabitacion{
	background-color: var(--dim-gray);
	border: solid black 1px;	
}

.botondetallehabitacion:hover{
	background-color: var(--lion);
	border: solid var(--sepia) 1px;
}

.botonpreciohabitacion{
	background-color: var(--dim-gray);
	border: solid black 1px;
	color: white;
}

.botonpreciohabitacion:hover{
	background-color: var(--lion);
	border: solid var(--sepia) 1px;
	cursor:default;
}
.iconosdespegable{
	display: flex;
	align-items: center;
	gap: 10px;
	text-align: center;
	border-bottom:solid #000 1px;
}

.metodospagosvg{
	width: 50px;
	height: 50px;
}

/*pagina contacto*/
.textocontacto{
	color: #FFF;
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding: 30px;
	background-color: black;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.contactodiseño{
	width: 100%;
	background-color: white;
	margin-top: 40px;
}
.contactodiseño .grupocontacto{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 50px;
	padding: 45px 0px;
}

.contactodiseño .grupocontacto .box p{
	color: black;
	margin-bottom: 10px;
}

.contactodiseño .contacto-pie {
	background-color: white;
	padding: 15px 10px;
	text-align: center;
	color: black;
	
}

.contenedormapa{
	width: 600px;
	height: 450px;
	border: solid black 1px;
	border-radius: 30px;
}

.contenedormapa iframe{
	width: 100%;
	height: 100%;
	border-radius: 30px;
}
/*formulario contacto*/
.formulariocontacto {
	width: 300px;
	margin: 0 auto;
}
label, input, textarea {
	display: block;
	margin-bottom: 10px;
}
input[type="text"], textarea {
	width: 100%;
	padding: 10px;
}
input[type="submit"] {
	background-color: #007BFF;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #0056b3;
}

/*cambia la altura del texto de index ya que carousel-item de habitaciones me cambia la altura*/
.item-texto-carusell{
	height: 400px;
}



@media (max-width: 768px) {
	.grid {
		grid-template-columns: repeat(1, 1fr);
		max-width: 100%;
		width: 90%;
	
	}
	.galeria-serviciosdisponibles {
		flex-direction: column;
		align-items: center;
		
	  }
	
	  .imagen-servicios {
		width: 100%;
		height: auto;
	  }

	  .pie-pagina .grupo-1{
		width: 90%;
		grid-template-columns: repeat(1,1fr);
		gap: 30px;
		padding: 35px 0px;
	}
	.contactodiseño .grupocontacto{
		width: 90%;
		grid-template-columns: repeat(1,1fr);
		gap: 30px;
		padding: 35px 0px;
	}
	.postbienvenidos{
		flex-direction: column;
		align-items: center;
	}
	.textoimagenprincipal{
		text-align: center;
		font-size: 40px;
		margin: 0;
		padding: 5px;
	}
	.frase{
		text-align: center;
		font-size: 30px;
		margin: 0;
	}
	.imagenilustracion{
		width: 100%;
		height: 100%;
	}
	.imagenprincipal{
		align-items: center;
	}
	.imagenprincipalhabitaciones{
		align-items: center;
	}
	.imagenprincipalservicios{
		align-items: center;
	}
	.reservarahoraboton{
		margin-left: 0;
	}
	.custom-carousel-button {
		margin-top: 80px;
		margin-bottom: 0;
	  }
	  .contenedormapa{
		width: 300px;
		height: 150px;
	}
}
@media(max-width:400px){
	.pie-pagina{
		margin-top: 60px;
	}
	.custom-carousel-button {
		margin-top: 200px;
	  }
	  
}