@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Bebas+Neue&family=Montaga&family=Montserrat:wght@400;700&family=Nothing+You+Could+Do&display=swap');
:root{
	--dim-gray: #7a7265ff;
	--sepia: #553805ff;
	--raw-umber: #8e6e53ff;
	--lion: #c69c72ff;
	--black-bean: #2d080aff;
}
@import "./partials/variables";
@import "./partials/reset";


.reservarahoraboton{
	font-size: 18px;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,5);
	box-shadow: 2px 2px 10px rgba(0,0,0,5);
	color: black;
	background-color: white;
	margin-top: 30px;
	margin-left: 60px;
}
.reservarahoraboton:hover{
	background-color: rgba(119, 67, 3, 0.63);
}

.menucontainer{
	max-width: 1200px;
	margin: auto;
	background-color:black;

}
.collapse{
	justify-content: flex-end;
}

.navbar{
	background-color:black;
}


.imagenprincipal{
	background-image: linear-gradient(90deg, rgba(206,143,4,0.5) 7%, rgba(153,93,8,0.5) 79%, rgba(204,67,4,0.5) 100%)
	,url(../images/saloninicio.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	background-position: center center;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;
}

.hero{
	display: flex;
	flex-direction: column;
	text-align: left;
	.textoimagenprincipal{
		color: white;
		font-family: ABeeZee;
		font-style: italic;
		letter-spacing: 4px;
		line-height: normal;
		margin-left: 60px;
		font-size: 64px;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
	.frase{
		font-family: Nothing You Could Do;
		font-size: 36px;
		color: #FFF;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 3px;
		margin-left: 60px;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
		text-align: left;
	}	

}
.ilusbienvenidostex{
	border-bottom: 1px solid var(--raw-umber);
	color: var(--raw-umber);
	display: block;
	line-height: 1.5;
	letter-spacing: normal;
	max-width: 450px;
	padding-bottom: 6px;
}
	


.textobienvenidos{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.hostilustex{
	font-size: 40px;
}

.parrafoilustracion{
	font-family: 'Arial', sans-serif;
	margin: 5px;
	font-size: 18px;
	line-height: 1.5;
}
.parrafoilustracion:hover {
	transform: scale(1.05);
	transition: transform 0.3s ease-in-out;
  }
.textdesayuno{
	display: flex;
	align-items: center;
	padding: 30px;
	justify-content:center ;
	color: var(--black-bean);
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
}

.contenedorilustracion{
	background-color: white;
	overflow: visible;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	padding: 30px;
	.postbienvenidos{
		display: flex;
		width: 100%;
		flex-direction: row;
		gap: 70px;
		text-align: left;
		.imagenilustracion{
			width: 400px;
			height: 100%;
			
		}
	}
}


/* contenido de tarjetas inicio*/
.tarjetasexpand .grid-item{
	max-width: 800px;
}

.tarjetasexpand{
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
}

.tarjetasexpand .contendiotar{
	overflow: visible;
	padding-left: 8px;
	padding-right: 8px;
	max-width: 1300px;
	margin: 0 auto;
	position: relative;
}



.textexpancar{
	color: black;
	font-family: 'Bebas Neue', sans-serif;
	font-style: italic;
	font-size: 20px;
	margin-bottom: 0;
	text-shadow: 2px 2px 4px rgba(97, 77, 22, 0.5);
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s
}


/*grid imagenes inicio*/
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 25px;
	max-width: 100%;
	padding: 10px;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	width: 100%;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s

}

.grid-item {
	position: relative;
	overflow: hidden;
	border: 1px solid var(--raw-umber);
	box-shadow: 2px 2px 10px rgba(0,0,0,5);
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
	img {
		display: block;
		width: 100%;
		height: 500px;
		object-fit: cover;
		left: 0;
		top: 0;
		object-position: center;
		transition-property: all;
		transition-duration: 1s;
		transition-delay: 0s
		
	}
}


/*animacion grid*/ 
.tarjeta-index-expand{
	transition-property: all;
	transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	max-width: 800px;
	display: flex;
	opacity: 1;
	transform: translate(0);
	overflow: hidden;
	justify-content: flex-end;
	flex-direction: column;
	width: 100%;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s

}

.tarjeta-index-expand:hover{
	cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s
}

.tarjeta-index-expand:hover .hover-animacion{
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.885);
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s

	
}
.tarjeta-index-expand:hover .textexpancar{
	opacity: 1;
	visibility: visible;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s
}
.hover-animacion{
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.885);
	justify-content: center;
	flex-direction: column;
	position:absolute;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;

}

/*texto testimonios del carrusel*/
.testimonios{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #553805;
	font-family: ABeeZee;
	font-size: 60px;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
	padding: 15px;
}
/*carrusel inicio boostrap*/

.text-slide {
    text-align: center; /* Centra el texto horizontalmente */
    display: flex;
    justify-content: center; /* Centra el texto verticalmente */
    height: 100%; /* Asegura que el texto ocupe toda la altura del carrusel */
	color: #553805;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  }

  /* Estilos para centrar los botones */
  .custom-carousel-button {
    position: absolute;
    top: 50%;
    cursor: pointer;
	border: none;
	box-shadow: none;
	padding: 0;

  }

  .custom-carousel-button-prev {
    left: 20px;
	margin-left: 30%;
  }
  .custom-carousel-button-next {
    right: 20px;
	margin-right: 30%;
  }



  .svgboton{
	width: 40px;
	height: 50px;
  }

@import "./partials/footer";

/*servicios inicio*/
.imagenprincipalservicios{
	background-image: linear-gradient(90deg, rgba(206,143,4,0.5) 7%, rgba(153,93,8,0.5) 79%, rgba(204,67,4,0.5) 100%)
	,url(../images/foto\ sala.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	background-position: center center;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}


 
.textopage{
	display: flex;
	align-items: center;
	padding: 30px;
	justify-content:center ;
	color: #000;
	text-align: center;
	font-family: ABeeZee;
	font-size: 40px;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 3px;
}

.textoservicio{
	color: black;
	text-align: center;
}



/*galeria de servicios disponibles*/
.serviciosdisponibles{
	background-color: white;
	}
	
	.galeria-serviciosdisponibles{
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin-top: 30px;
	}
	
	.imagen-servicios{
		width: 26%;
		margin-bottom: 20px;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		box-shadow: 0 0 8px 0 rgba(0,0,0,5);
		height: 500px;
		border-radius: 30px;
	}
	
	.imagen-servicios > img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
	
	.hover-galeria{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		/*transform: scale(0);*/
		background: hsla(40, 100%, 25%, 0.7);
		display: flex;
		justify-content: center;
		align-items: center;
		p{
			color: white;
			font-family: Nothing You Could Do;
			font-size: 30px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}
	

	
	.imagen-servicios:hover .hover-galeria{
		transform: scale(0);
	}

	.tituloserv{
	color: rgba(119, 67, 3, 0.63);
	text-align: center;
	font-family: Montserrat;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: flex;
	align-items: center;
	padding: 30px;
	justify-content:center;
}

/*pagina habitaciones*/
.imagenprincipalhabitaciones{
	background-image: linear-gradient(90deg, rgba(206,143,4,0.5) 7%, rgba(153,93,8,0.5) 79%, rgba(204,67,4,0.5) 100%)
	,url(../images/habitacion\ 9\ lado\ perfil\ izquierdo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	background-position: center center;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;

}

/*carrusel habitaciones*/
.contenedor-80 {
	width: 70%;
	margin: 0 auto;
	border:solid black 3px;
	border-radius: 40px;

}

.carruselcontenedorhabitaciones{
	margin-bottom: 30px;
}
.carousel-item{
	height: 500px;
	position: relative;
	overflow: hidden;
	border-radius: 36px;
}
.carousel-inner .carousel-item img {
	width: 100%;
	height: 100%; /* Establece la altura deseada para todas las imágenes */
	object-fit: cover; /* Escala la imagen para que cubra completamente su contenedor */
	display: block;

}
.tipohabitaciontexto{
	background-color: black;
	color: white;
	border: none;
}
.cont-precio-detallehabitacion{
	display: flex;
	align-items: center;
	padding: 20px;
	justify-content: space-between;
}

.tipohabitaciontexto{
	text-align: center;
	font-size: 25px;
}
.botondetallehabitacion{
	background-color: var(--dim-gray);
	border: solid black 1px;	
}

.botondetallehabitacion:hover{
	background-color: var(--lion);
	border: solid var(--sepia) 1px;
}

.botonpreciohabitacion{
	background-color: var(--dim-gray);
	border: solid black 1px;
	color: white;
}

.botonpreciohabitacion:hover{
	background-color: var(--lion);
	border: solid var(--sepia) 1px;
	cursor:default;
}
.iconosdespegable{
	display: flex;
	align-items: center;
	gap: 10px;
	text-align: center;
	border-bottom:solid #000 1px;
}

.metodospagosvg{
	width: 50px;
	height: 50px;
}

/*pagina contacto*/
.textocontacto{
	color: #FFF;
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding: 30px;
	background-color: black;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.contactodiseño{
	width: 100%;
	background-color: white;
	margin-top: 40px;
	.grupocontacto{
		width: 100%;
		max-width: 1200px;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 50px;
		padding: 45px 0px;
	}
}


.contactodiseño .grupocontacto .box p{
	color: black;
	margin-bottom: 10px;
}

.contactodiseño .contacto-pie {
	background-color: white;
	padding: 15px 10px;
	text-align: center;
	color: black;
	
}

.contenedormapa{
	width: 600px;
	height: 450px;
	border: solid black 1px;
	border-radius: 30px;
}

.contenedormapa iframe{
	width: 100%;
	height: 100%;
	border-radius: 30px;
}
/*formulario contacto*/
.formulariocontacto {
	width: 300px;
	margin: 0 auto;
}
label, input, textarea {
	display: block;
	margin-bottom: 10px;
}
input[type="text"], textarea {
	width: 100%;
	padding: 10px;
}
input[type="submit"] {
	background-color: #007BFF;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #0056b3;
}

/*cambia la altura del texto de index ya que carousel-item de habitaciones me cambia la altura*/
.item-texto-carusell{
	height: 400px;
}

/*Pagina acerca de nosotros*/
.imagenprincipalacercadenosotros{
	background-image: linear-gradient(90deg, rgba(206,143,4,0.5) 7%, rgba(153,93,8,0.5) 79%, rgba(204,67,4,0.5) 100%)
	,url(../images/habitacion\ 9\ perfil\ derecho.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	background-position: center center;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;
}
.contenedor1acercade{
	padding: 10px;
	max-width: 1200px;
	margin-top: 40px;
}
.acercade1{
	display: flex;
}
.acercade1 img{
	width: 500px;
	width: 500px;
	padding: 20px;	
}
.h2-sub {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 600;
    line-height: .4;
}

.fil {
    text-transform: uppercase;
    font-size: 35px;
	color: black;
}

.head {
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
}
 
.res-des{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.taste{
	background-image: linear-gradient(90deg, rgba(206,143,4,0.5) 7%, rgba(153,93,8,0.5) 79%, rgba(204,67,4,0.5) 100%)
	,url(../images/habitacion\ 9\ perfil\ derecho.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	background-position: center center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;
	min-height: 65vh;

}

.global{
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contenedoracercade2{
	margin-top: 30px;
}

.container2{
	display: flex;
}
.circle {
    font-size: 1.5rem;
    color: #3bcc75;
    margin: 0 1.6rem;
}


.btnacercade {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}

.cta-btn {
    font-size: 1.1rem;
    background-color: #ffc845;
    padding: 1.5rem 3rem;
    color: #fff;
    border-radius: .4rem;
}


.cta-btn:hover,
.cta-btn:focus {
    color: #fff;
    background-color: var(--dim-gray);
}

.global .circle {
    color:var(--lion);
    margin: 2.4rem 0;
}

.hea-dark {
    color: #252525;
    letter-spacing: .7rem;
    margin-right: -.7rem;
}



.res-info {
    text-align: center;
}


.res-des p {
    line-height: 1.6;
    margin-bottom: 2.4rem
}

.image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.image-group img{
	width: 300px;
	height: 300px;
}

.pb {
	background-image: linear-gradient(90deg, rgba(206,143,4,0.5) 7%, rgba(153,93,8,0.5) 79%, rgba(204,67,4,0.5) 100%)
	,url(../images/habitacion\ 8\ perfil\ derecho\ .jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	background-position: center center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;
	min-height: 65vh;
	margin-top: 30px;
}

.container3{
	display: flex;
	margin: 60px;
	gap: 20px;
}
.image-group3{
	display: flex;
	gap: 10px;
}
.container3 .image-group3 img{
	width: 300px;
	height: 100%;
}

@media (max-width: 768px) {
	.grid {
		grid-template-columns: repeat(1, 1fr);
		max-width: 100%;
		width: 90%;
	
	}
	.galeria-serviciosdisponibles {
		flex-direction: column;
		align-items: center;
		
	  }
	
	  .imagen-servicios {
		width: 100%;
		height: auto;
	  }

	  .pie-pagina .grupo-1{
		width: 90%;
		grid-template-columns: repeat(1,1fr);
		gap: 30px;
		padding: 35px 0px;
	}
	.contactodiseño .grupocontacto{
		width: 80%;
		grid-template-columns: repeat(1,1fr);
		gap: 30px;
		padding: 35px 0px;
		place-items: center;
		justify-self: center; /* Centra en el eje horizontal */
		align-self: center; /* Centra en el eje vertical */
		border-bottom: solid var(--lion) 1px;
	}
	.postbienvenidos{
		flex-direction: column;
		align-items: center;
	}
	.textoimagenprincipal{
		text-align: center;
		font-size: 40px;
		margin: 0;
		padding: 5px;
	}
	.frase{
		text-align: center;
		font-size: 30px;
		margin: 0;
	}
	.imagenilustracion{
		width: 100%;
		height: 100%;
	}
	.imagenprincipal{
		align-items: center;
	}
	.imagenprincipalhabitaciones{
		align-items: center;
	}
	.imagenprincipalservicios{
		align-items: center;
	}
	.reservarahoraboton{
		margin-left: 0;
	}
	.custom-carousel-button {
		margin-top: 80px;
		margin-bottom: 0;
	  }
	  .contenedormapa{
		width: 100%;
		height: 150px;
	}
}
@media(max-width:400px){
	.pie-pagina{
		margin-top: 60px;
	}
	.custom-carousel-button {
		margin-top: 200px;
	  }
	  
}

