.collapse{
	justify-content: flex-end;
}

.navbar{
	background-color:black;
}

.logohosterianav{
	height: 60px;
	width: 60px;
	text-align: center;
}

.navlogotex{
	font-family: Nothing You Could Do;
	color: #FFF;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-left: 10px;
}