.textoimagenprincipal{
	color: white;
	font-family: ABeeZee;
	font-style: italic;
	letter-spacing: 4px;
	line-height: normal;
	margin-left: 60px;
	font-size: 64px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}