:root{
	--dim-gray: #7a7265ff;
	--sepia: #553805ff;
	--raw-umber: #8e6e53ff;
	--lion: #c69c72ff;
	--black-bean: #2d080aff;
}
// _variables.scss
$black-bean: #553805;
$raw-umber: rgba(119, 67, 3, 0.63);
$dim-gray: #7a7265ff;
$sepia: #553805ff;
$raw-umber: #8e6e53ff;
$lion: #c69c72ff;
$black-bean: #2d080aff;

// Variables
$primary-gradient-color: rgba(206, 143, 4, 0.5);
$secondary-gradient-color: rgba(153, 93, 8, 0.5);
$tertiary-gradient-color: rgba(204, 67, 4, 0.5);
$image-url: url(../images/habitacion\ 9\ perfil\ derecho.jpg);